<h1>Available Apartments</h1>

<% if @apartments.any? %>
  <ul class="list-group">
    <% @apartments.each do |apartment| %>
      <li class="list-group-item mb-3">
        <h2 class="h5"><%= apartment.title %></h2>
        <p><strong>Price:</strong> $<%= apartment.price %></p>
        <p><strong>Address:</strong> <%= apartment.address %></p>
        <p><%= apartment.description %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No apartments available at the moment.</p>
<% end %>